{% load staticfiles %}
<html>
    <head>
        <title>GGS134's BLOG</title>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <script>
            function proceed() {
                var form = document.createElement('form');
                form.setAttribute('method', 'post');
                form.setAttribute('action', '{% url 'address_new' %}');
                form.style.display = 'hidden';
                document.body.appendChild(form);
                $('form').append("{% csrf_token %}");
                form.submit();
            }
        </script>
    </head>
        <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="#" onclick="proceed();" class="top-menu"><span class="glyphicon glyphicon-bold"></span></a>
            <h1><a href="/">GGS134's BLOG</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>